/* Estilos Gerais */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.body-home {
    background-image: url("Imagens/background-home.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.body-player{
    background: #121212;
}


.body-entrar {
    background-image: url("Imagens/background-entrar.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.body-cadastrar {
    background-image: url("Imagens/background-cadastro.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* ========================================================================== */

/* Config da NavBar */
.nav-bar {
    width: 100%;
    height: 95px;
    background: rgba(0, 0, 0, 0.53);
}

.nav-bar h1 {
    font-family: Bungee Shade;
    font-size: 36px;
    line-height: 43px;
    background: -webkit-linear-gradient(#e5e5e5, #ff015c, #ff015c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00000000;
    width: fit-content;
    float: left;
    margin-top: 2%;
}

.nav-bar h1:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.container {
    width: 80%;
    margin: auto;
    height: 100%;
}

.nav-bar .nav-items {
    float: right;
}

.nav-bar ul {
    list-style: none;
    margin-top: 6%;
}

.nav-bar li {
    display: inline-block;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#e5e5e5 25%, #ff015c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00000000;
    padding: 10px;
    font-size: 18px;
}

.nav-bar li:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    background: -webkit-linear-gradient(#e5e5e5, #ff015c, #ff015c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00000000;
}

/* ========================================================================== */



/* ++++++++++++ Config dos estilos do conteudo da Home Page +++++++++++++++++ */

.logo-home {
    display: flex;
    flex-direction: column;
}

.logo-home img {
    margin: auto;
    margin-top: 10%;
}

.logo-home h1 {
    margin: auto;
    font-size: 80px;
    background: -webkit-linear-gradient(#e5e5e5, #ff015c, #ff015c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00000000;
    font-family: 'Bungee Shade', cursive;
    padding-bottom: 2%;
    line-height: 96px;
}

.logo-home span {
    margin: auto;
    font-family: 'Comfortaa', cursive;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.19em;
    color: #cacaeb;
}

.logo-home button {
    margin: auto;
    margin-top: 1%;
    padding-left: 50px;
    padding-right: 50px;
    background: transparent;
    border: solid #D12F69 2px;
    font-family: 'Comfortaa', cursive;
    color: #CACAEB;
    font-size: 26px;
    outline: none;
}

.logo-home button:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    outline: none;
}
/* ========================================================================== */




/* +++++++++++++++++++++++++ Config do Web Player +++++++++++++++++++++++++++ */


/* Config da side bar */

.side-bar {
    width: 195px;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(#CACAEB, rgba(202, 202, 235, 0.47));
    box-shadow: 5px 0px 18px 0px #70438d;
}

.side-bar .logo {
    width: 84px;
    display: flex;
    margin: auto;
    margin-top: 10%;
    filter: drop-shadow(2px 4px 6px black);
}

.side-bar h1{

    font-size: 30px;
    background: -webkit-linear-gradient(#e5e5e5, #ff015c, #ff015c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00000000;
    font-family: 'Bungee Shade', cursive;
    margin-left: 5%;
}

.side-bar .side-logo{
    text-decoration: none;
}

.group-itens {
    margin-top: 20%;
}

.btn-side {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: 15%;
    font-family: 'Comfortaa', cursive;
    text-shadow: 2px 5px 9px #551a8b;
}

.svg {
    margin-left: 10px;
    margin-right: 8%;
    width: 42px;
    filter: drop-shadow(1px 1px 2px #00000086);
}

.btn-side:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

.body-player hr {
    margin: 15% 10px 15% 10px;
}

.group-playlist .btn-side {
    margin-left: 15%;
}

/* ========================================================================== */

/* Config dos Controles do Player de Musica */

.controler {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 131px;
}

.desc {
    background: linear-gradient(45deg, rgba(229, 229, 245, 0.97), #958DEE, #CACAEB);
    position: fixed;
    bottom: 0;
    height: 94px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 3px 20px 0px #000;
}

.button {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
}

.button img {
    width: 35px;
    height: 35px;
    z-index: 1;
    margin-left: 7px;
}

.button .side-img {
    width: 26px;
    height: 26px;
    margin-left: 0px;
}

.rotate {
    transform: rotate(180deg);
}

.button .play-btn {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #ACA9EC;
    box-shadow: 0px 0px 8px 2px #70438d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: 0px 23px 0px 23px;
}

.button .pause-btn img{
    margin-left: 0px;
}

.button .left-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ACA9EC;
    box-shadow: 0px 0px 8px 2px #70438d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: 17px 0px 0px 23px;
}

.button .right-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ACA9EC;
    box-shadow: 0px 0px 8px 2px #70438d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: 17px 23px 0px 0px;
}

.button .play-btn:hover, .button .right-btn:hover, .button .left-btn:hover {
    transition: all 0.3s linear;
    transform: scale(1.1);
    background: linear-gradient( 0deg, #7f61b4, #B7B4FA);
}

.desc span{
    font-size: 22px;
    font-family: 'Comfortaa';
    margin: 10px;
    margin-top: 10px;
    width: 40px;
}

/* Config da barra de progresso */

.progress-bar {
    width: 800px;
    outline: none;
    -webkit-appearance: none;
    background: transparent;
    height: 14px;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: black;
    height: 14px;
    border-radius: 50px;
}

.progress-bar:active::-webkit-slider-runnable-track, .progress-bar:hover::-webkit-slider-runnable-track {
    transition: 0.5s;
}

.progress-bar::-webkit-slider-thumb {
    height: 14px;
    width: 28px;
    border-radius: 12px;
    background: #d62d2d;
    cursor: pointer;
    -webkit-appearance: none;
}

/* ========================================================================== */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* +++++++++++++++++++++++ Config da Página de Login ++++++++++++++++++++++++ */

.box-entrar{
    margin-top: 107px;
    width: 490px;
    height: 640px;
    border-radius: 5px;
    background: linear-gradient(180deg, #CACAEB 0%, rgba(202, 202, 235, 0.21) 100%);
    float: left;
}

.box-entrar h1{
    padding-top: 44px;
    padding-left: 70px;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
    color: #F93F81;
}

.box-input{
    padding-top: 8%;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
}

.box-input span{
    margin-bottom: 1%;
    margin-top: 39px;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    color: #4E3387;
}

.box-input input{
    width: 293px;
    height: 27px;
    text-align: center;
    border: solid 1px #810E4D;
    background: rgba(0, 0, 0, 0);
    outline: none;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px #000);
}

.box-input button{
    width:190px;
    height: 35px;
    margin-top: 27%;
    margin-left: 16%;
    background: #958DEE;
    color: #3800FF;
    box-shadow: 2px 1px 8px 0px #000;
    border-radius: 10px;
    border: none;
    outline: none;
}

.box-input button:hover{
    transition: all 0.3s ease-in-out; 
    transform: scale(1.1);
}

.mensagem{
    margin-left: 10%;
    margin-top: 21%;
    float: left;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 65px;
    font-weight: 400;
    color: #FA8AB2;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */